<!DOCTYPE html>
<html lang="en"><link rel="stylesheet" href="/public/style.css" type="text/css">
<head>
    <title>Fat Nerd Fucks</title>
</head>
    <body>
        <img src = "/public/images/logo.gif" class="header-gif"> <br/>
        <hr>
        <div class="c" id="quicklinks">
            <a href="/index.html">Home</a>   |   
            <a href="contact.html">Contact Us</a>
        </div>
        <hr>
        <h2 class="about">Contact Us</div><br/><br/>
        <div class="main">
            Want to be part of something big? Reach out to us for potential openings or to collaborate and 
            become business partners.
        </div>
        <br><hr>
        <form action="https://formspree.io/f/manralob" method="POST">
            <label>
                Your Email:
                <input type="email" name="email">
            </label>
            <br>
            <label>
                Contact Request:
                <br>
                <textarea rows="6" cols="80" name="message"></textarea>
            </label>
            <button type="submit">Send</button>
        </form>
    </body>
</html>









